In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [17]:
dfs = []
for i in range(0, 11):  # Assuming your CSV files are named from 1.csv to 10.csv
    filename = f"./run_directory/current_results/{i}.csv"
#     filename = f"./concatenated_results0.csv"
    df = pd.read_csv(filename)
    dfs.append(df)

In [18]:
df

,Unnamed: 0,Unnamed: 1,metric,chi-chi,chi-san,san-chi,san-san
0,results_f,RF,f,0.681,0.515,0.345,0.688
1,results_f,RF-FA,f,0.217,0.687,0.718,0.467
2,results_f,RF-BW,f,0.664,0.654,0.715,0.681
3,results_f,RF-CORAL,f,0.544,0.504,0.261,0.697
4,results_f,RF-SA,f,0.686,0.515,0.679,0.616
...,...,...,...,...,...,...,...
65,results_np_AUC,LR,AUC,0.578938139168991,0.5682486891214251,0.5054004624663282,0.727517573787008
66,results_np_AUC,LR-FA,AUC,0.0,0.6963885009044489,0.5554227275977973,0.0
67,results_np_AUC,LR-BW,AUC,0.0,0.709045062166556,0.5454744570788338,0.0
68,results_np_AUC,LR-CORAL,AUC,0.0,0.5478041352780894,0.4950938520584519,0.0
69,results_np_AUC,LR-SA,AUC,0.0,0.5682486891214251,0.5054004624663282,0.0

In [3]:
def rtd(num):
    rounded_num = round(num, 3)  # Round to three decimal places
    rounded_str = "{:.3f}".format(rounded_num)  # Format to ensure three decimal places

    # Add trailing zero if needed
    if len(rounded_str.split('.')[1]) < 3:
        rounded_str += '0'

    return rounded_str

In [24]:
def get_res(method, metric, train_test, std = False):
    query_result = []
    for res in dfs:
        qr = res[(res['Unnamed: 1'] == method) & (res['metric'] == metric)][train_test]
        query_result.append(float(np.array(qr)[0]))
    if std == 0: return rtd(np.mean(query_result))
    if std:
        query_result_std = []
        for res in dfs:
            qrs = res[(res['Unnamed: 1'] == method) & (res['metric'] == metric+'_std')][train_test]
            query_result_std.append(float(np.array(qrs)[0]))
        return rtd(np.mean(query_result)), rtd(np.mean(query_result_std))
    
def get_res(method, metric, train_test, std = False):
    query_result = []
    for res in dfs:
        qr = res[(res['Unnamed: 1'] == method) & (res['metric'] == metric)][train_test]
        query_result.append(float(np.array(qr)[0]))
    if std == 0: return rtd(np.mean(query_result))
    if std:
        return rtd(np.mean(query_result)), rtd(np.std(query_result))

def get_np(method, metric, train_test, std = False):
    neg, pos = [], []
    for res in dfs:
        qr = res[(res['Unnamed: 1'] == method) & (res['metric'] == metric)][train_test]
        neg.append(float(np.array(qr)[0].split('/')[0]))
        pos.append(float(np.array(qr)[0].split('/')[1]))
    return rtd(np.mean(neg)), rtd(np.mean(pos))

def get_ress(method, metric, train_test):
    a, b = get_res(method, metric, train_test, 1)
    print(a, b)
    return str(a)+"_{"+str(b)+"}"

In [25]:
def get_data(method, metric, train_test):
    ress = []
    for res in dfs:
        ress.append(float(np.array(res[(res['Unnamed: 1'] == method) & (res['metric'] == metric)][train_test])))
    return ress

def ttest(bigger_array, smaller_array, name1, name2, alpha = 0.05):
    t_statistic, p_value = stats.ttest_ind(bigger_array, smaller_array)
    p_value /= 2
    if p_value < alpha and t_statistic > 0:
        print("Reject null hypothesis: "+name1+" is significantly greater than "+name2+". p-value:", p_value)
    else:
        print("Fail to reject: "+name1+" is not significantly greater than "+name2+". p-value:", p_value)

In [26]:
rf_chisan, rf_sanchi = get_data('RF', 'f', 'chi-san'), get_data('RF', 'f', 'san-chi')
rf_chichi, rf_sansan = get_data('RF', 'f', 'chi-chi'), get_data('RF', 'f', 'san-san')

rf_chisan_auc, rf_sanchi_auc = get_data('RF', 'AUC', 'chi-san'), get_data('RF', 'AUC', 'san-chi')
rf_chichi_auc, rf_sansan_auc = get_data('RF', 'AUC', 'chi-chi'), get_data('RF', 'AUC', 'san-san')

rffa_chisan, rffa_sanchi = get_data('RF-FA', 'f', 'chi-san'), get_data('RF-FA', 'f', 'san-chi')
rfbw_chisan, rfbw_sanchi = get_data('RF-BW', 'f', 'chi-san'), get_data('RF-BW', 'f', 'san-chi')
rfco_chisan, rfco_sanchi = get_data('RF-CORAL', 'f', 'chi-san'), get_data('RF-CORAL', 'f', 'san-chi')
rfsa_chisan, rfsa_sanchi = get_data('RF-SA', 'f', 'chi-san'), get_data('RF-SA', 'f', 'san-chi')

lr_chisan, lr_sanchi = get_data('LR', 'f', 'chi-san'), get_data('LR', 'f', 'san-chi')
lr_chichi, lr_sansan = get_data('LR', 'f', 'chi-chi'), get_data('LR', 'f', 'san-san')

lr_chisan_auc, lr_sanchi_auc = get_data('LR', 'AUC', 'chi-san'), get_data('LR', 'AUC', 'san-chi')
lr_chichi_auc, lr_sansan_auc = get_data('LR', 'AUC', 'chi-chi'), get_data('LR', 'AUC', 'san-san')

lrfa_chisan, lrfa_sanchi = get_data('LR-FA', 'f', 'chi-san'), get_data('LR-FA', 'f', 'san-chi')
lrbw_chisan, lrbw_sanchi = get_data('LR-BW', 'f', 'chi-san'), get_data('LR-BW', 'f', 'san-chi')
lrco_chisan, lrco_sanchi = get_data('LR-CORAL', 'f', 'chi-san'), get_data('LR-CORAL', 'f', 'san-chi')
lrsa_chisan, lrsa_sanchi = get_data('LR-SA', 'f', 'chi-san'), get_data('LR-SA', 'f', 'san-chi')

# Results

In [28]:
data = {
    'Model': ['RF', '', 'LR', ''],
    'Source Domain': ['Chicago', 'San Diego', 'Chicago', 'San Diego'],
    'Target: San Diego WF1-score': [get_ress('RF', 'f', 'chi-san'),
                                    get_ress('RF', 'f', 'san-san'),
                                    get_ress('LR', 'f', 'chi-san'),
                                    get_ress('LR', 'f', 'san-san')],
    'Target: San Diego AUC': [get_ress('RF', 'AUC', 'chi-san'),
                            get_ress('RF', 'AUC', 'san-san'),
                            get_ress('LR', 'AUC', 'chi-san'),
                            get_ress('LR', 'AUC', 'san-san')],
    'Target: Chicago WF1-score': [get_ress('RF', 'f', 'chi-chi'),
                                get_ress('RF', 'f', 'san-chi'),
                                get_ress('LR', 'f', 'chi-chi'),
                                get_ress('LR', 'f', 'san-chi')],
    'Target: Chicago AUC': [get_ress('RF', 'AUC', 'chi-chi'),
                            get_ress('RF', 'AUC', 'san-chi'),
                            get_ress('LR', 'AUC', 'chi-chi'),
                            get_ress('LR', 'AUC', 'san-chi')]}

df = pd.DataFrame(data)
df

0.535 0.025
0.691 0.002
0.482 0.017
0.680 0.001
0.567 0.027
0.733 0.003
0.602 0.017
0.728 0.000
0.682 0.007
0.320 0.030
0.626 0.007
0.214 0.043
0.582 0.008
0.486 0.004
0.582 0.004
0.500 0.004

,Model,Source Domain,Target: San Diego WF1-score,Target: San Diego AUC,Target: Chicago WF1-score,Target: Chicago AUC
0,RF,Chicago,0.535_{0.025},0.567_{0.027},0.682_{0.007},0.582_{0.008}
1,,San Diego,0.691_{0.002},0.733_{0.003},0.320_{0.030},0.486_{0.004}
2,LR,Chicago,0.482_{0.017},0.602_{0.017},0.626_{0.007},0.582_{0.004}
3,,San Diego,0.680_{0.001},0.728_{0.000},0.214_{0.043},0.500_{0.004}

In [8]:
print('Sourse->Sourse VS Source->Target, Based on weighted F1 score, alpha = 0.05')

ttest(rf_chichi, rf_sanchi, 'RF: Chi->Chi','RF: San->Chi', alpha = 0.05)
ttest(rf_sansan, rf_chisan, 'RF: San->San','RF: Chi->San', alpha = 0.05)
ttest(lr_chichi, lr_sanchi, 'LR: Chi->Chi','LR: San->Chi', alpha = 0.05)
ttest(lr_sansan, lr_chisan, 'LR: San->San','LR: Chi->San', alpha = 0.05)
print()
print('Sourse->Sourse VS Source->Target, Based on AUC, alpha = 0.05')

ttest(rf_chichi_auc, rf_sanchi_auc, 'RF: Chi->Chi','RF: San->Chi', alpha = 0.05)
ttest(rf_sansan_auc, rf_chisan_auc, 'RF: San->San','RF: Chi->San', alpha = 0.05)
ttest(lr_chichi_auc, lr_sanchi_auc, 'LR: Chi->Chi','LR: San->Chi', alpha = 0.05)
ttest(lr_sansan_auc, lr_chisan_auc, 'LR: San->San','LR: Chi->San', alpha = 0.05)

Sourse->Sourse VS Source->Target, Based on weighted F1 score, alpha = 0.05
Reject null hypothesis: RF: Chi->Chi is significantly greater than RF: San->Chi. p-value: 3.3016643556586074e-20
Reject null hypothesis: RF: San->San is significantly greater than RF: Chi->San. p-value: 5.625052161925549e-15
Reject null hypothesis: LR: Chi->Chi is significantly greater than LR: San->Chi. p-value: 2.4977051048810404e-18
Reject null hypothesis: LR: San->San is significantly greater than LR: Chi->San. p-value: 2.7300798040330345e-20

Sourse->Sourse VS Source->Target, Based on AUC, alpha = 0.05
Reject null hypothesis: RF: Chi->Chi is significantly greater than RF: San->Chi. p-value: 6.989357806111355e-20
Reject null hypothesis: RF: San->San is significantly greater than RF: Chi->San. p-value: 1.056238553189712e-14
Reject null hypothesis: LR: Chi->Chi is significantly greater than LR: San->Chi. p-value: 3.551018235036829e-22
Reject null hypothesis: LR: San->San is significantly greater than LR: Chi->San. p-value: 3.579984443138449e-16

/Users/ali/miniforge_x86_64/envs/env_python/lib/python3.11/site-packages/scipy/stats/_axis_nan_policy.py:573: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

In [9]:
print('RF: Sourse->Source VS LR: Source->Source, Based on weighted F1 score, alpha = 0.05')

ttest(rf_chichi, lr_chichi, 'RF: Chi->Chi','LR: Chi->Chi', alpha = 0.05)
ttest(rf_sansan, lr_sansan, 'RF: San->San','LR: San->San', alpha = 0.05)
print()
print('RF: Sourse->Source VS LR: Source->Source, Based on AUC, alpha = 0.05')

ttest(rf_chichi_auc, lr_chichi_auc, 'RF: Chi->Chi','LR: Chi->Chi', alpha = 0.05)
ttest(rf_sansan_auc, lr_sansan_auc, 'RF: San->San','LR: San->San', alpha = 0.05)

RF: Sourse->Source VS LR: Source->Source, Based on weighted F1 score, alpha = 0.05
Reject null hypothesis: RF: Chi->Chi is significantly greater than LR: Chi->Chi. p-value: 2.620630189419559e-14
Reject null hypothesis: RF: San->San is significantly greater than LR: San->San. p-value: 1.0879069371480005e-13

RF: Sourse->Source VS LR: Source->Source, Based on AUC, alpha = 0.05
Fail to reject: RF: Chi->Chi is not significantly greater than LR: Chi->Chi. p-value: 0.41033110789332444
Reject null hypothesis: RF: San->San is significantly greater than LR: San->San. p-value: 8.292742024699976e-06

In [10]:
print('RF: Sourse->Target VS LR: Source->Target, Based on weighted F1 score, alpha = 0.05')

ttest(rf_chisan, lr_chisan, 'RF: Chi->San','LR: Chi->San', alpha = 0.05)
ttest(rf_sanchi, lr_sanchi, 'RF: San->Chi','LR: San->Chi', alpha = 0.05)
print()
print('RF: Sourse->Target VS LR: Source->Target, Based on AUC, alpha = 0.05')

ttest(rf_chisan_auc, lr_chisan_auc, 'RF: Chi->San','LR: Chi->San', alpha = 0.05)
ttest(rf_sanchi_auc, lr_sanchi_auc, 'RF: San->Chi','LR: San->Chi', alpha = 0.05)

RF: Sourse->Target VS LR: Source->Target, Based on weighted F1 score, alpha = 0.05
Reject null hypothesis: RF: Chi->San is significantly greater than LR: Chi->San. p-value: 7.988134012387012e-06
Reject null hypothesis: RF: San->Chi is significantly greater than LR: San->Chi. p-value: 1.7703867940968203e-06

RF: Sourse->Target VS LR: Source->Target, Based on AUC, alpha = 0.05
Fail to reject: RF: Chi->San is not significantly greater than LR: Chi->San. p-value: 0.001212197907430262
Fail to reject: RF: San->Chi is not significantly greater than LR: San->Chi. p-value: 3.440552376473423e-08

In [11]:
data = {
    'Model': ['RF'] + [''] * 4 + ['LR'] + [''] * 4,
    'Approaches': ['TL'] + ['DA'] + [''] * 3 + ['TL'] + ['DA'] + [''] * 3,
    'Approaches2': [''] + ['FA']  + ['BWT'] + ['CORAL'] + ['SA'] + ['']  + ['FA']  + ['BWT'] + ['CORAL'] + ['SA'],
    'WF1-score c-s': [get_ress('RF', 'f', 'chi-san'), get_ress('RF-FA', 'f', 'chi-san'),
                     get_ress('RF-BW', 'f', 'chi-san'), get_ress('RF-CORAL', 'f', 'chi-san'),
                     get_ress('RF-SA', 'f', 'chi-san'), get_ress('LR', 'f', 'chi-san'),
                     get_ress('LR-FA', 'f', 'chi-san'), get_ress('LR-BW', 'f', 'chi-san'),
                     get_ress('LR-CORAL', 'f', 'chi-san'), get_ress('LR-SA', 'f', 'chi-san')],
    'AUC c-s': [get_res('RF', 'AUC', 'chi-san'), get_res('RF-FA', 'AUC', 'chi-san'),
                     get_res('RF-BW', 'AUC', 'chi-san'), get_res('RF-CORAL', 'AUC', 'chi-san'),
                     get_res('RF-SA', 'AUC', 'chi-san'), get_res('LR', 'AUC', 'chi-san'),
                     get_res('LR-FA', 'AUC', 'chi-san'), get_res('LR-BW', 'AUC', 'chi-san'),
                     get_res('LR-CORAL', 'AUC', 'chi-san'), get_res('LR-SA', 'AUC', 'chi-san')],
    'WF1-score s-c': [get_ress('RF', 'f', 'san-chi'), get_ress('RF-FA', 'f', 'san-chi'),
                     get_ress('RF-BW', 'f', 'san-chi'), get_ress('RF-CORAL', 'f', 'san-chi'),
                     get_ress('RF-SA', 'f', 'san-chi'), get_ress('LR', 'f', 'san-chi'),
                     get_ress('LR-FA', 'f', 'san-chi'), get_ress('LR-BW', 'f', 'san-chi'),
                     get_ress('LR-CORAL', 'f', 'san-chi'), get_ress('LR-SA', 'f', 'san-chi')],
    'AUC s-c': [get_res('RF', 'AUC', 'san-chi'), get_res('RF-FA', 'AUC', 'san-chi'),
                     get_res('RF-BW', 'AUC', 'san-chi'), get_res('RF-CORAL', 'AUC', 'san-chi'),
                     get_res('RF-SA', 'AUC', 'san-chi'), get_res('LR', 'AUC', 'san-chi'),
                     get_res('LR-FA', 'AUC', 'san-chi'), get_res('LR-BW', 'AUC', 'san-chi'),
                     get_res('LR-CORAL', 'AUC', 'san-chi'), get_res('LR-SA', 'AUC', 'san-chi')]
}

df = pd.DataFrame(data)

df

  Model Approaches Approaches2  WF1-score c-s AUC c-s  WF1-score s-c AUC s-c
0    RF         TL              0.535_{0.014}   0.567  0.320_{0.074}   0.486
1               DA          FA  0.680_{0.002}   0.713  0.698_{0.002}   0.586
2                          BWT  0.669_{0.003}   0.709  0.686_{0.005}   0.572
3                        CORAL  0.531_{0.030}   0.556  0.297_{0.050}   0.493
4                           SA  0.542_{0.018}   0.657  0.676_{0.003}   0.481
5    LR         TL              0.482_{0.010}   0.602  0.214_{0.023}   0.500
6               DA          FA  0.655_{0.002}   0.693  0.648_{0.002}   0.562
7                          BWT  0.614_{0.003}   0.710  0.702_{0.005}   0.549
8                        CORAL  0.487_{0.008}   0.554  0.243_{0.028}   0.490
9                           SA  0.551_{0.013}   0.602  0.690_{0.002}   0.500

In [20]:
data = {
    'Model': ['RF'] + [''] * 4 + ['LR'] + [''] * 4,
    'Approaches': ['TL'] + ['DA'] + [''] * 3 + ['TL'] + ['DA'] + [''] * 3,
    'Approaches2': [''] + ['FA']  + ['BWT'] + ['CORAL'] + ['SA'] + ['']  + ['FA']  + ['BWT'] + ['CORAL'] + ['SA'],
    'Negative c-s': [get_np('RF', 'np', 'chi-san')[0], get_np('RF-FA', 'np', 'chi-san')[0],
                     get_np('RF-BW', 'np', 'chi-san')[0], get_np('RF-CORAL', 'np', 'chi-san')[0],
                     get_np('RF-SA', 'np', 'chi-san')[0], get_np('LR', 'np', 'chi-san')[0],
                     get_np('LR-FA', 'np', 'chi-san')[0], get_np('LR-BW', 'np', 'chi-san')[0],
                     get_np('LR-CORAL', 'np', 'chi-san')[0], get_np('LR-SA', 'np', 'chi-san')[0]],
    'Positive c-s': [get_np('RF', 'np', 'chi-san')[1], get_np('RF-FA', 'np', 'chi-san')[1],
                     get_np('RF-BW', 'np', 'chi-san')[1], get_np('RF-CORAL', 'np', 'chi-san')[1],
                     get_np('RF-SA', 'np', 'chi-san')[1], get_np('LR', 'np', 'chi-san')[1],
                     get_np('LR-FA', 'np', 'chi-san')[1], get_np('LR-BW', 'np', 'chi-san')[1],
                     get_np('LR-CORAL', 'np', 'chi-san')[1], get_np('LR-SA', 'np', 'chi-san')[1]],
    'Negative s-c': [get_np('RF', 'np', 'san-chi')[0], get_np('RF-FA', 'np', 'san-chi')[0],
                     get_np('RF-BW', 'np', 'san-chi')[0], get_np('RF-CORAL', 'np', 'san-chi')[0],
                     get_np('RF-SA', 'np', 'san-chi')[0], get_np('LR', 'np', 'san-chi')[0],
                     get_np('LR-FA', 'np', 'san-chi')[0], get_np('LR-BW', 'np', 'san-chi')[0],
                     get_np('LR-CORAL', 'np', 'san-chi')[0], get_np('LR-SA', 'np', 'san-chi')[0]],
    'Positive s-c': [get_np('RF', 'np', 'san-chi')[1], get_np('RF-FA', 'np', 'san-chi')[1],
                     get_np('RF-BW', 'np', 'san-chi')[1], get_np('RF-CORAL', 'np', 'san-chi')[1],
                     get_np('RF-SA', 'np', 'san-chi')[1], get_np('LR', 'np', 'san-chi')[1],
                     get_np('LR-FA', 'np', 'san-chi')[1], get_np('LR-BW', 'np', 'san-chi')[1],
                     get_np('LR-CORAL', 'np', 'san-chi')[1], get_np('LR-SA', 'np', 'san-chi')[1]],
}

df = pd.DataFrame(data)
df

,Model,Approaches,Approaches2,Negative c-s,Positive c-s,Negative s-c,Positive s-c
0,RF,TL,,0.716,0.256,0.314,0.340
1,,DA,FA,0.786,0.517,0.808,0.290
2,,,BWT,0.781,0.497,0.794,0.283
3,,,CORAL,0.660,0.332,0.284,0.348
4,,,SA,0.763,0.201,0.830,0.101
5,LR,TL,,0.753,0.064,0.180,0.341
6,,DA,FA,0.784,0.456,0.740,0.303
7,,,BWT,0.780,0.358,0.841,0.183
8,,,CORAL,0.753,0.077,0.216,0.343
9,,,SA,0.749,0.246,0.848,0.097

In [21]:
data = {
    'Source/Target': ['Chicago-Chicago', 'San Diego-San Diego', 'Chicago-San Diego TL (no DA)', 'Chicago-San Diego DA (FA)', 'San Diego-Chicago TL (no DA)', 'San Diego-Chicago DA (FA)'] * 2,
    'Model': ['RF'] * 6 + ['LR'] * 6,
    'Specificity p-': [get_np('RF', 'np_P', 'chi-chi')[0], get_np('RF', 'np_P', 'san-san')[0],
                     get_np('RF', 'np_P', 'chi-san')[0], get_np('RF-FA', 'np_P', 'chi-san')[0],
                     get_np('RF', 'np_P', 'san-chi')[0], get_np('RF-FA', 'np_P', 'san-chi')[0],
                     get_np('LR', 'np_P', 'chi-chi')[0], get_np('LR', 'np_P', 'san-san')[0],
                     get_np('LR', 'np_P', 'chi-san')[0], get_np('LR-FA', 'np_P', 'chi-san')[0],
                     get_np('LR', 'np_P', 'san-chi')[0], get_np('LR-BW', 'np_P', 'san-chi')[0]],
    
    'Sensitivity p+': [get_np('RF', 'np_P', 'chi-chi')[1], get_np('RF', 'np_P', 'san-san')[1],
                     get_np('RF', 'np_P', 'chi-san')[1], get_np('RF-FA', 'np_P', 'chi-san')[1],
                     get_np('RF', 'np_P', 'san-chi')[1], get_np('RF-FA', 'np_P', 'san-chi')[1],
                     get_np('LR', 'np_P', 'chi-chi')[1], get_np('LR', 'np_P', 'san-san')[1],
                     get_np('LR', 'np_P', 'chi-san')[1], get_np('LR-FA', 'np_P', 'chi-san')[1],
                     get_np('LR', 'np_P', 'san-chi')[1], get_np('LR-BW', 'np_P', 'san-chi')[1]],
    
    'Neg. Pred. R-': [get_np('RF', 'np_R', 'chi-chi')[0], get_np('RF', 'np_R', 'san-san')[0],
                     get_np('RF', 'np_R', 'chi-san')[0], get_np('RF-FA', 'np_R', 'chi-san')[0],
                     get_np('RF', 'np_R', 'san-chi')[0], get_np('RF-FA', 'np_R', 'san-chi')[0],
                     get_np('LR', 'np_R', 'chi-chi')[0], get_np('LR', 'np_R', 'san-san')[0],
                     get_np('LR', 'np_R', 'chi-san')[0], get_np('LR-FA', 'np_R', 'chi-san')[0],
                     get_np('LR', 'np_R', 'san-chi')[0], get_np('LR-BW', 'np_R', 'san-chi')[0]],
    
    'Pos. Pred. R+': [get_np('RF', 'np_R', 'chi-chi')[1], get_np('RF', 'np_R', 'san-san')[1],
                     get_np('RF', 'np_R', 'chi-san')[1], get_np('RF-FA', 'np_R', 'chi-san')[1],
                     get_np('RF', 'np_R', 'san-chi')[1], get_np('RF-FA', 'np_R', 'san-chi')[1],
                     get_np('LR', 'np_R', 'chi-chi')[1], get_np('LR', 'np_R', 'san-san')[1],
                     get_np('LR', 'np_R', 'chi-san')[1], get_np('LR-FA', 'np_R', 'chi-san')[1],
                     get_np('LR', 'np_R', 'san-chi')[1], get_np('LR-BW', 'np_R', 'san-chi')[1]],
    
    'AUC': [get_res('RF', 'AUC', 'chi-chi'), get_res('RF', 'AUC', 'san-san'),
                     get_res('RF', 'AUC', 'chi-san'), get_res('RF-FA', 'AUC', 'chi-san'),
                     get_res('RF', 'AUC', 'san-chi'), get_res('RF-FA', 'AUC', 'san-chi'),
                     get_res('LR', 'AUC', 'chi-chi'), get_res('LR', 'AUC', 'san-san'),
                     get_res('LR', 'AUC', 'chi-san'), get_res('LR-FA', 'AUC', 'chi-san'),
                     get_res('LR', 'AUC', 'san-chi'), get_res('LR-BW', 'AUC', 'san-chi')]

}

df = pd.DataFrame(data)

df

,Source/Target,Model,Specificity p-,Sensitivity p+,Neg. Pred. R-,Pos. Pred. R+,AUC
0,Chicago-Chicago,RF,0.814,0.279,0.750,0.360,0.582
1,San Diego-San Diego,RF,0.705,0.742,0.906,0.416,0.733
2,Chicago-San Diego TL (no DA),RF,0.620,0.463,0.854,0.191,0.567
3,Chicago-San Diego DA (FA),RF,0.701,0.729,0.896,0.409,0.713
4,San Diego-Chicago TL (no DA),RF,0.811,0.215,0.202,0.818,0.486
5,San Diego-Chicago DA (FA),RF,0.812,0.299,0.806,0.300,0.586
6,Chicago-Chicago,LR,0.812,0.247,0.627,0.457,0.582
7,San Diego-San Diego,LR,0.695,0.780,0.933,0.369,0.728
8,Chicago-San Diego TL (no DA),LR,0.611,0.591,0.982,0.036,0.602
9,Chicago-San Diego DA (FA),LR,0.683,0.760,0.923,0.337,0.693
10,San Diego-Chicago TL (no DA),LR,0.775,0.211,0.104,0.893,0.500
11,San Diego-Chicago DA (FA),LR,0.797,0.278,0.892,0.152,0.549

In [14]:
latex_table = df.to_latex(index=False)
print(latex_table)

\begin{tabular}{lllllll}
\toprule
               Source/Target & Model & Specificity p- & Sensitivity p+ & Neg. Pred. R- & Pos. Pred. R+ &   AUC \\
\midrule
             Chicago-Chicago &    RF &          0.814 &          0.279 &         0.750 &         0.360 & 0.582 \\
         San Diego-San Diego &    RF &          0.705 &          0.742 &         0.906 &         0.416 & 0.733 \\
Chicago-San Diego TL (no DA) &    RF &          0.620 &          0.463 &         0.854 &         0.191 & 0.567 \\
   Chicago-San Diego DA (FA) &    RF &          0.701 &          0.729 &         0.896 &         0.409 & 0.713 \\
San Diego-Chicago TL (no DA) &    RF &          0.811 &          0.215 &         0.202 &         0.818 & 0.486 \\
   San Diego-Chicago DA (FA) &    RF &          0.812 &          0.299 &         0.806 &         0.300 & 0.586 \\
             Chicago-Chicago &    LR &          0.812 &          0.247 &         0.627 &         0.457 & 0.582 \\
         San Diego-San Diego &    LR &          0.695 &          0.780 &         0.933 &         0.369 & 0.728 \\
Chicago-San Diego TL (no DA) &    LR &          0.611 &          0.591 &         0.982 &         0.036 & 0.602 \\
   Chicago-San Diego DA (FA) &    LR &          0.683 &          0.760 &         0.923 &         0.337 & 0.693 \\
San Diego-Chicago TL (no DA) &    LR &          0.775 &          0.211 &         0.104 &         0.893 & 0.500 \\
   San Diego-Chicago DA (FA) &    LR &          0.810 &          0.261 &         0.688 &         0.395 & 0.562 \\
\bottomrule
\end{tabular}

/var/folders/5_/ct_h64s936q91wl1qyv28l040000gn/T/ipykernel_18092/1380921917.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  latex_table = df.to_latex(index=False)

In [23]:
print('LR Vs RF, Random Forest, Based on weighted F1 score, alpha = 0.025')
ttest(rffa_chisan, lrfa_chisan, 'RF-FA Chi->San','LR-FA Chi->San', alpha = 0.05)
ttest(rffa_sanchi, lrbw_sanchi, 'RF-FA San->Chi','LR-FA San->Chi', alpha = 0.05)
ttest(lrfa_sanchi, rfbw_sanchi, 'LR-FA San->Chi','RF-FA San->Chi', alpha = 0.05)

LR Vs RF, Random Forest, Based on weighted F1 score, alpha = 0.025
Reject null hypothesis: RF-FA Chi->San is significantly greater than LR-FA Chi->San. p-value: 0.006519231065673698
Fail to reject: RF-FA San->Chi is not significantly greater than LR-FA San->Chi. p-value: 0.26743083634696463
Fail to reject: LR-FA San->Chi is not significantly greater than RF-FA San->Chi. p-value: 0.002924300054872141

T-Test

In [16]:
print('chicago -> san diego, Random Forest, Based on weighted F1 score, alpha = 0.025')
ttest(rffa_chisan, rf_chisan, 'RF-FA','RF', alpha = 0.025)
ttest(rfbw_chisan, rf_chisan, 'RF-BW','RF',alpha = 0.025)
ttest(rfco_chisan, rf_chisan, 'RF-CPRAL','RF',alpha = 0.025)
ttest(rfsa_chisan, rf_chisan, 'RF-SA','RF',alpha = 0.025)

chicago -> san diego, Random Forest, Based on weighted F1 score, alpha = 0.025
Reject null hypothesis: RF-FA is significantly greater than RF. p-value: 9.173094405254855e-13
Reject null hypothesis: RF-BW is significantly greater than RF. p-value: 2.079472745638442e-11
Fail to reject: RF-CPRAL is not significantly greater than RF. p-value: 0.35818219973894805
Fail to reject: RF-SA is not significantly greater than RF. p-value: 0.2930007537819532

In [17]:
print('san diego -> chicago, Random Forest, Based on weighted F1 score, alpha = 0.025')
ttest(rffa_sanchi, rf_sanchi, 'RF-FA','RF', alpha = 0.025)
ttest(rfbw_sanchi, rf_sanchi, 'RF-BW','RF',alpha = 0.025)
ttest(rfco_sanchi, rf_sanchi, 'RF-CPRAL','RF',alpha = 0.025)
ttest(rfsa_sanchi, rf_sanchi, 'RF-SA','RF',alpha = 0.025)

san diego -> chicago, Random Forest, Based on weighted F1 score, alpha = 0.025
Reject null hypothesis: RF-FA is significantly greater than RF. p-value: 6.380292445877544e-20
Reject null hypothesis: RF-BW is significantly greater than RF. p-value: 3.8607990913279506e-19
Fail to reject: RF-CPRAL is not significantly greater than RF. p-value: 0.17613032578480325
Reject null hypothesis: RF-SA is significantly greater than RF. p-value: 3.364193702818845e-20

In [18]:
print('chicago -> san diego, Logistic Regression, Based on weighted F1 score, alpha = 0.025')
ttest(lrfa_chisan, lr_chisan, 'LR-FA','LR', alpha = 0.025)
ttest(lrbw_chisan, lr_chisan, 'LR-BW','LR',alpha = 0.025)
ttest(lrco_chisan, lr_chisan, 'LR-CPRAL','LR',alpha = 0.025)
ttest(lrsa_chisan, lr_chisan, 'LR-SA','LR',alpha = 0.025)

chicago -> san diego, Logistic Regression, Based on weighted F1 score, alpha = 0.025
Reject null hypothesis: LR-FA is significantly greater than LR. p-value: 1.6329307048642467e-14
Reject null hypothesis: LR-BW is significantly greater than LR. p-value: 3.252841352568116e-09
Fail to reject: LR-CPRAL is not significantly greater than LR. p-value: 0.20932731560192785
Reject null hypothesis: LR-SA is significantly greater than LR. p-value: 1.464885556046636e-09

In [19]:
print('san diego -> chicago, Logistic Regression, Based on weighted F1 score, alpha = 0.025')
ttest(lrfa_sanchi, lr_sanchi, 'LR-FA','LR', alpha = 0.025)
ttest(lrbw_sanchi, lr_sanchi, 'LR-BW','LR',alpha = 0.025)
ttest(lrco_sanchi, lr_sanchi, 'LR-CPRAL','LR',alpha = 0.025)
ttest(lrsa_sanchi, lr_sanchi, 'LR-SA','LR',alpha = 0.025)

san diego -> chicago, Logistic Regression, Based on weighted F1 score, alpha = 0.025
Reject null hypothesis: LR-FA is significantly greater than LR. p-value: 8.045489345021295e-17
Reject null hypothesis: LR-BW is significantly greater than LR. p-value: 1.0634601350083756e-19
Fail to reject: LR-CPRAL is not significantly greater than LR. p-value: 0.06534014494020245
Reject null hypothesis: LR-SA is significantly greater than LR. p-value: 1.1878514537638232e-19